a{
    text-decoration:none;
}

.blog-s1 {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    margin:20px;
    display:flex;
    flex-wrap:wrap;
}

.blog-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 20px;
    border: 2px solid var(--secondary-color);
    box-shadow: 0 8px 17px rgba(0, 0, 0, 0.15);
}

.blog-item {
    background: var(--accent-color);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    margin-bottom: 15px;
}

.blog-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.blog-item p{
    margin-bottom: 6px;
}

.blog-title {
    text-decoration:none;
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 15px;
}

.blog-title-2{
    margin-bottom: 15px;
}

.blog-meta {
    color: var(--secondary-color);
    font-weight: bold;
    margin-bottom: 6px;
}

.blog-content {
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--text-color);
    text-align: justify;
    background: var(--accent-color);
    padding: 20px;
    margin-top: 10px;
}

.blog-btn {
    text-decoration: none;
    background: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
    margin-top: 11px;
    width: fit-content;
}

.blog-btn:hover {
    background: var(--secondary-color);
}

.blog-btn a{
    color: white;
}

.cblog-btn{
    margin: 0px;
}

.blog-comment{
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--text-color);
    text-align: justify;
    padding: 20px;
}

.ccomment{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new_comment{
    width: 609px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 1.3rem;
    line-height: 1rem
    font-weight: 350;
    height: 33px;
}
