*{
    margin:0;
    padding:0;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    padding-left: 50px;
}

#hide1{
    display:none;
}
video{
    position: fixed;
    z-index:-1;
    right:0;
    bottom:0;
    left: 0;
    top: 0;
    padding-right: 150px;
}
.box{
    width:360px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    box-shadow:0 0 20px 20px rgba(212, 4, 4, 0.5);
}
.box input{
    background: none;
    margin-inline: 10px;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: wheat;
    border-radius: 20px;
    transition: 0.25s;
}

.box input:focus{
    width: 280px;
    border-color: #2ecc71;
}

.btn-login[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin-left: 30px;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    color: wheat;
    border-radius: 20px;
    transition: 0.25s;
    cursor:pointer;
}

.btn-login[type = "submit"]:hover{
    background: #2ecc71;
}

h1{
    color: rgb(255, 255, 255);
    margin-bottom: 40px;
    font-style: italic;
    font-size: 40px;
}

.pass{
    display:flex;
    align-items: center;
}

.fa-eye , .fa-eye-slash{
    cursor: pointer;
}

i{
    color: white;
    side:20;
}
.links a{
    text-decoration: none;
    color: #2ecc71;
    font-size: 1.3rem;
    margin: 2px;
}
.helptext{
    text-decoration: none;
    color: white;
}
