:root {
    --primary-color: #1c5696;
    --secondary-color: #3b6b99;
    --background-color: #eff5f3;
    --text-color: #4d4d4d;
    --accent-color: #eff5f3;
    --max-width: 1400px;
}

*{
    margin:0;
    padding:0;
}
.nav-bar{ 
    top: 0;  
    position: sticky;
    
}
.div1{
    align-items: center;
    display:flex;
    margin-top: 2px;
}
.uli1{
    width: 46%;
}
.div2{
    width: 54%;
    display: flex;
    flex-direction: row-reverse;
}

h1{
    font-size: 2.25rem;
}
h2{
    font-size: 2.25rem;
    color: rgba(4, 187, 90, 0.881);
}
.p-1{
    font-size: 1.3rem;
    max-width: 560px;
}

.inp-1{
    border: 2px solid;
    border-radius: 16px;
    width: 190px;
    height: 35px;
    margin: 4px;
    padding: 4px;
    font-size: 1.2rem;
}
.logo{
    /* cursor: pointer; */
    border: 2px solid white;
    border-radius: 50%;
}
.Aklogo{
    width: 80%;
}
a{
    color: #000000;
    text-decoration: none;
}
.button-1{
    background-color: rgb(0, 176, 82);
    border-radius: 16px;
    padding-inline: 9px;
    height: 35px;
    cursor: pointer;
    font-size:19px;
    margin: 4px;
}

.button-1:hover{
    background-color: rgba(0, 176, 82, 0.781);
    border-radius: 14px;
}
li{
    display: inline-flex;
}
li a:hover{
    color: rgba(0, 176, 82, 0.781);;
    text-decoration:underline 2px;
}
li a{
    display: block;
    color: rgba(0, 0, 0, 0.915);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ol li{
    margin-bottom: 8px;
    font-size: 1.1rem;
}

.section0{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    max-width: 1450px;
}

.div3{
    flex: 1;
    width: 50%;
    padding: 20px;
    text-align: left;
}

.div3-exp{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}
.uli4{
    width:50%;
}
.uli4-exp{
    max-width: 100%;
}

.p1{
    margin-bottom: 22px;
}

.button-2 a{
    color: #FAF9F6;
    font-size:20px;
}
.button-2{
    min-width: 125px;
    height: 30px;
    background-color: #1577e0;
    border: 1px #1577e0;
    border-radius: 8px;
    padding-inline: 9px;
    cursor: pointer;

    margin: 4px
}
.button-2:hover{
    background-color: #085eb9;
    border: 1px #085eb9;
}

.section1{
    display: flex;
    background-color: #d3d9dfd6;
    color: #03458ce2;
    text-align: center;
    margin-top: 10px;
    padding: 32px;
    font-size: 1.7rem;
    margin-inline: auto;
    align-items: center;
    max-width: var(--max-width);
}
.q-ul-1{
    font-style: italic;
    flex: 1;
    border-right: 5px solid;
}
.q-ul-2{
    font-style: italic;
    flex: 1;
}

h5{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    font-size: 2.25rem;
    text-align: center;
    margin-inline: auto;
    max-width: var(--max-width);
}
.section2{
    margin-block-end: 52px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-inline: auto;
    max-width: var(--max-width);
    gap: 10px;
}
.div4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border: 2px solid rgb(97, 17, 78);
    border-radius: 20px;
    height:370px;
    width:285px;
    margin-bottom: 12px;
    padding: 16px;
}
h3{
    margin-top: 8px;
    margin-bottom: 8px;
}
.div5{
    text-align: left;
}
footer{
    bottom: 0;
    width: 100%;
}
.text-footer{
    padding: 15px;margin: 6px;
    font-family: 'ubunto',sans-serif;
    color:rgb(14, 13, 13);
    background-color: rgba(211, 240, 226, 0.9);
    text-align: center;
}
